body {
    margin: 0;
}

h1 {
    margin: 0 0 20px 0;
    text-align: center;
    background-image: url(fondo\ header.jpg);
    padding: 20px;
    color: white;
}

.menu-principal {
    width: 100%;
    background-color:rgb(43, 109, 207);
}
.menu-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-principal li {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.menu-principal a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:  rgb(255, 255, 255);
}

.menu-principal li a:hover {
    background-color: rgb(23, 60, 116);
}

.contenedor {
    text-align: center;
}
.contenedor img {
    margin: 5px;
    width: 75%; 
    height: 75%;
}

.sobre-nosotros {
    width: 100%;
    background-color: rgb(0, 162, 255);
    color: rgb(255, 255, 255);
    text-align: center;
}

.parrafo-nosotros {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    padding: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 25px;
    background-color: rgb(218, 218, 218);
}

.seccion-beneficios {
    width: 100%;

}

.header-beneficios {
    text-align: center;
    padding: 1px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(0, 57, 104);
    color: white;
}

table, th, td {
    border: 1px solid;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-collapse: collapse;
}

.contenedor-video {
    margin: 20px;
    text-align: center;
}
