.header-principal {
    background-color: #553DFC;
    color: #91C7FC;
    text-align: center;
}

div {
    overflow: hidden;
}

.insertar {
    margin-right: 10.60%;
}

.seleccionada {
    border: 5px solid #ff4757 !important; 
    box-shadow: 0px 0px 15px rgba(255, 71, 87, 0.5);
    transform: scale(1.05); 
    transition: all 0.2s ease; 
}

